<% if flash[:notice] %>
  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if @address %>
  <h2>Edit Your Shipping Address</h2>
<% else %>
  <h2>Enter Your Shipping Address</h2>
<% end %>

<%= form_with model: [@user, @address || Address.new], url: address_path, method: :post do |form| %>
  <%= form.label :street %>
  <%= form.text_field :street, value: @address&.street %>

  <%= form.label :city %>
  <%= form.text_field :city, value: @address&.city %>

  <%= form.label :province %>
  <%= form.collection_select :province_id, Province.all, :id, :name, selected: @address&.province_id %>

  <%= form.submit 'Save Address' %>
<% end %>

