<% if flash[:notice] %>
  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if @address %>

  <h2>Invoice</h2>
  <h3>From</h3>
  <h5>Canadian Agri Tech</h5>
  <h5>99 Dalhousie St Nobert</h5>
  <h5>R35 232</h5>

  <h2>To </h2>
  <h5><%= @address.street %></h5>
  <h5><%= @address.city %></h5>
  <h5><%= @address.province.name %></h5>

  <%= form_with url: stripe_payment_checkout_path, method: :post do |form| %>
  <% @products.each_with_index do |item, index| %>
    <p><%= item[:name] %>: <%= item[:price] %> (Quantity: <%= item[:quantity] %>)</p>
    <%= form.hidden_field "products[#{index}][name]", value: item[:name] %>
    <%= form.hidden_field "products[#{index}][price]", value: item[:price] %>
    <%= form.hidden_field "products[#{index}][quantity]", value: item[:quantity] %>
  <% end %>

  <p>SubTotal: <%= @total %></p>

  <p>GST: <%= @gst %></p>
  <%= form.hidden_field :gst, value: @gst %>

  <p>PST: <%= @pst %></p>
  <%= form.hidden_field :pst, value: @pst %>

  <p>HST: <%= @hst %></p>
  <%= form.hidden_field :hst, value: @hst %>

  <p>Total: <%= @total_with_taxes = @total + @gst + @pst + @hst %></p>
  <%= form.hidden_field :total_with_taxes, value: @total_with_taxes %>

  <%= form.submit 'Pay Now' %>
<% end %>


<% end %>
