<% if flash[:notice] %>
  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<h1>Your Cart</h1>
<% if @products.any? %>
  <table>
    <!-- Cart table code here -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td>
            <%= form_with(url: update_item_cart_path, method: :post) do |form| %>
              <%= form.hidden_field :product_id, value: product.id %>
              <%= form.number_field :quantity, value: @cart.items[product.id.to_s], min: 1 %>
              <%= form.submit 'Update' %>
            <% end %>
          </td>
          <td><%= product.price * BigDecimal(@cart.items[product.id.to_s]) %></td>

          <td>
            <%= form_with(url: remove_item_cart_path, method: :post) do |form| %>
              <%= form.hidden_field :product_id, value: product.id %>
              <%= form.submit 'Remove' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Total: <%= @cart.total %></h2>

  <% if user_signed_in? %>
    <p>User ID: <%= current_user.id %></p>
    <%= button_to 'Checkout', checkout_path, method: :post, class: 'checkout-button' %>
  <% else %>
    <p>Please log in to view your address and card details.</p>
    <%= button_to 'Login', new_user_session_path, class: 'login-button' %>
  <% end %>
<% else %>
  <p>Your cart is empty. Please add products to the cart.</p>

<% end %>
