<h1>Your Cart</h1>
<% if @cart_items.any? %>
  <table>
    <!-- Cart table code here -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.product.name %></td>
          <td><%= cart_item.product.price %></td>
          <td>
            <% if user_signed_in? %>
              <%= form_with(url: update_item_cart_path, method: :post) do |form| %>
                <%= form.hidden_field :product_id, value: cart_item.product.id %>
                <%= form.number_field :quantity, value: cart_item.quantity, min: 1 %>
                <%= form.submit 'Update' %>
              <% end %>
            <% else %>
              <%= cart_item.quantity %>
            <% end %>
          </td>
          <td><%= cart_item.product.price * BigDecimal(cart_item.quantity) %></td>

          <td>
            <% if user_signed_in? %>
              <%= form_with(url: remove_item_cart_path, method: :post) do |form| %>
                <%= form.hidden_field :product_id, value: cart_item.product.id %>
                <%= form.submit 'Remove' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Total: <%= @total %></h2>

  <% if user_signed_in? %>
    <p>User ID: <%= current_user.id %></p>
    <%= button_to 'Checkout', checkout_path, method: :post, class: 'checkout-button' %>
  <% else %>
    <p>Please log in to view your address and card details.</p>
    <%= button_to 'Login', new_user_session_path, class: 'login-button' %>
  <% end %>
<% else %>
  <p>Your cart is empty. Please add products to the cart.</p>
<% end %>
