<h1>Available Products</h1>
<%= form_with(url: products_path, method: "get", html: {class: "product-search-form"}) do %>
  <%= label_tag(:keyword, "Search for:") %>
  <%= text_field_tag(:keyword, params[:keyword]) %>

  <%= label_tag(:category, "Category:") %>
  <%= select_tag(:category, options_for_select([['All Products', nil]] + Category.all.map { |c| [c.name, c.id] }, selected: params[:category] || nil)) %>

  <%= label_tag(:on_sale, "On Sale") %>
  <%= check_box_tag(:on_sale, true, params[:on_sale].present?) %>

  <%= label_tag(:newly_added, "Newly Added") %>
  <%= check_box_tag(:newly_added, true, params[:newly_added].present?) %>

  <%= label_tag(:recently_updated, "Recently Updated") %>
  <%= check_box_tag(:recently_updated, true, params[:recently_updated].present?) %>

  <%= submit_tag("Search") %>
<% end %>

 <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="<%= product.product_images.present? ? product.product_images.first.image.url(:thumbnail) : 'https://via.placeholder.com/200x200' %>" alt="<%= product.name %>" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.price %></p>
            <a href="<%= product_path(product) %>" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<%= paginate @products %>
