<h1>Available Products</h1>
<%= form_with(url: products_path, method: "get") do %>
  <%= label_tag(:keyword, "Search for:") %>
  <%= text_field_tag(:keyword, params[:keyword]) %>

  <%= label_tag(:category, "Category:") %>
  <%= select_tag(:category, options_for_select([['All Products', nil]] + Category.all.map { |c| [c.name, c.id] }, selected: params[:category] || nil)) %>

  <%= submit_tag("Search") %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Name</th>
      <th>Price</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <% if product.product_images.present? %>
            <%= image_tag product.product_images.first.image.url(:thumbnail) %>
          <% else %>
            <%= image_tag 'https://lorempixel.com/200/200/', class: 'placeholder-image' %>
          <% end %>
        </td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Details', product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %>
