<h1><%= @product.name %></h1>
<p>Description: <%= @product.description %></p>
<p>Price: <%= @product.price %></p>
<p>Available Stock: <%= @product.stock %></p>

<% if @product.product_images.any? %>
  <%= image_tag @product.product_images.first.image.url(:thumbnail) %>
<% else %>
  <img src="https://lorempixel.com/200/200/" class="placeholder-image">
<% end %>

<table>
  <thead>
    <tr>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% @product.product_images.drop(1).each do |img| %>
      <tr>
        <td><%= image_tag img.image.url(:thumbnail) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @product.product_images.drop(1).empty? %>
  <img src="https://lorempixel.com/200/200/" class="placeholder-image">
<% end %>

<%= form_with(url: add_item_cart_path, method: :post) do |form| %>
  <%= form.hidden_field :product_id, value: @product.id %>
  <%= form.number_field :quantity, value: 1, min: 1 %>
  <%= form.submit 'Add to Cart' %>
<% end %>
